@font-face {
  font-family: 'Google Sans Text';
  font-style: normal;
  font-weight: 400;
  src: url(/static/assets/2026-08-21.styleseat-r1/fonts.gstatic.com/l/font.f3a72d4709) format('woff2');
  unicode-range: U+2190-2193;
}
