@font-face {
  font-family: "BogleWeb";
  src: url("/static/assets/services/179c10a2ada0506563a1.bin");
  src: url("/static/assets/services/c3b152f39388b997f360.bin") format("embedded-opentype"),
       url("/static/assets/services/75227dc23f4f941c3e73.woff2") format("woff2"),
       url("/static/assets/services/6b19e88cae79126dfb90.woff") format("woff"),
       url("/static/assets/services/574afb5f63bc1e1e94ed.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BogleWeb";
  src: url("/static/assets/services/179c10a2ada0506563a1.bin");
  src: url("/static/assets/services/c3b152f39388b997f360.bin") format("embedded-opentype"),
       url("/static/assets/services/75227dc23f4f941c3e73.woff2") format("woff2"),
       url("/static/assets/services/6b19e88cae79126dfb90.woff") format("woff"),
       url("/static/assets/services/574afb5f63bc1e1e94ed.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "BogleWeb";
  src: url("/static/assets/services/ba8e46399ff32c5fdf19.bin");
  src: url("/static/assets/services/b8858eaa2bca8e099d58.bin") format("embedded-opentype"),
       url("/static/assets/services/6e322f6fb455d73a674d.woff2") format("woff2"),
       url("/static/assets/services/2c905653ef24a6b41dce.woff") format("woff"),
       url("/static/assets/services/f77b41bad9887f1b65eb.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}