/* TODO merge style overrides into account.less after BAC release */
.v2 #primary {
  width: 1080px;
}

#acctform {
  margin: auto;
}

.section {
  background: none;
}

.hgroup {
  background: none;
}

.account.settings {
  width: 800px;
  margin: auto;

}
