@font-face {
      font-family: 'Brown';
      font-display: swap;
      src: url("/static/navigation/assets/9101ae6fa695439de687.woff2") format('woff2'),
      url("/static/navigation/assets/af3ff9c5c4b2490db1b6.woff") format('woff'),
      url("/static/navigation/assets/05786f31626358152389.ttf") format('truetype');
      font-weight: normal;
      font-style: normal;
  }
@font-face {
      font-family: 'Brown';
      font-display: swap;
      src: url("/static/navigation/assets/8a0a5c17eab2e55c783a.woff2") format('woff2'),
      url("/static/navigation/assets/235a26f3762cb34d44ea.woff") format('woff'),
      url("/static/navigation/assets/f7682466b4b57d14b14d.ttf") format('truetype');
      font-weight: bold;
      font-style: normal;
  }
@font-face {
      font-family: 'Brown';
      font-display: swap;
      src: url("/static/navigation/assets/ac9bde4f804c66de9816.woff2") format('woff2'),
      url("/static/navigation/assets/b1a08184d405fc7b47d7.ttf") format('truetype');
      font-weight: 300;
      font-style: normal;
  }
@font-face{font-family:yotpo-widget-font;src:url("/static/navigation/assets/affece6de3e284689988.bin");src:url("/static/navigation/assets/8a6656c78e76470a9d49.bin")format("embedded-opentype"),url("/static/navigation/assets/34d0f4546d5f255ebad0.woff")format("woff"),url("/static/navigation/assets/610c65a09cd5ab7a961b.ttf")format("truetype"),url("/static/navigation/assets/115f87b0296adfdd4c68.svg")format("svg");font-weight:400;font-style:normal;font-display:swap}