
  :host, :host,
    .color-scheme-1 {--color-background: #ffffff;
    --color-background-secondary: #efefef;
    --color-foreground: #2d2929;
    --color-foreground-secondary: #666666;
    --color-accent-01: #e0beb1;
    --color-accent-02: #ebdad3;
    --color-accent-03: #f2eae8;
    --color-accent-04: #684537;
    --color-border-01: #d8d8d8;
    --color-border-02: #efefef;
    --color-disabled: #a8a8a8;
    --color-link: #000000;--button-primary-color: #ffffff;--button-primary-hover-color: #000000;--button-primary-disabled-color: #ffffff;--button-primary-bg: #000000;--button-primary-hover-bg: #ffffff;--button-primary-disabled-bg: #a8a8a8;--button-primary-border: ;--button-primary-hover-border: ;--button-primary-border-disabled: ;--button-secondary-color: #000000;--button-secondary-hover-color: #ffffff;--button-secondary-disabled-color: #a8a8a8;--button-secondary-bg: ;--button-secondary-hover-bg: #000000;--button-secondary-disabled-bg: ;--button-secondary-border: #000000;--button-secondary-border-hover: #000000;--button-secondary-border-disabled: #a8a8a8;--button-tertiary-color: #000000;--button-tertiary-hover-color: #000000;--button-tertiary-disabled-color: #a8a8a8;--button-tertiary-bg: ;--button-tertiary-hover-bg: ;--button-tertiary-disabled-bg: ;--button-tertiary-border: #000000;--button-tertiary-border-hover: #000000;--button-tertiary-border-disabled: #a8a8a8;}
  
    .color-scheme-2 {--color-background: #000000;
    --color-background-secondary: #2b2727;
    --color-foreground: #ffffff;
    --color-foreground-secondary: #d8d8d8;
    --color-accent-01: #e0beb1;
    --color-accent-02: #ebdad3;
    --color-accent-03: #f2eae8;
    --color-accent-04: #684537;
    --color-border-01: #a8a8a8;
    --color-border-02: #666666;
    --color-disabled: #a8a8a8;
    --color-link: #ffffff;--button-primary-color: #000000;--button-primary-hover-color: #ffffff;--button-primary-disabled-color: #ffffff;--button-primary-bg: #ffffff;--button-primary-hover-bg: #000000;--button-primary-disabled-bg: #a8a8a8;--button-primary-border: ;--button-primary-hover-border: ;--button-primary-border-disabled: ;--button-secondary-color: #000000;--button-secondary-hover-color: #ffffff;--button-secondary-disabled-color: #a8a8a8;--button-secondary-bg: ;--button-secondary-hover-bg: #ffffff;--button-secondary-disabled-bg: #000000;--button-secondary-border: #ffffff;--button-secondary-border-hover: #000000;--button-secondary-border-disabled: #a8a8a8;--button-tertiary-color: #ffffff;--button-tertiary-hover-color: #ffffff;--button-tertiary-disabled-color: #a8a8a8;--button-tertiary-bg: ;--button-tertiary-hover-bg: ;--button-tertiary-disabled-bg: ;--button-tertiary-border: #ffffff;--button-tertiary-border-hover: #ffffff;--button-tertiary-border-disabled: #a8a8a8;}
  
    .color-scheme-41d08a3a-8d1a-4f58-8fd4-168cdc2100db {--color-background: #ffffff;
    --color-background-secondary: #f9f4ec;
    --color-foreground: #000000;
    --color-foreground-secondary: #666666;
    --color-accent-01: #e0beb1;
    --color-accent-02: #ebdad3;
    --color-accent-03: #f2eae8;
    --color-accent-04: #684537;
    --color-border-01: #d8d8d8;
    --color-border-02: #efefef;
    --color-disabled: #a8a8a8;
    --color-link: #000000;--button-primary-color: #ffffff;--button-primary-hover-color: #000000;--button-primary-disabled-color: #ffffff;--button-primary-bg: #000000;--button-primary-hover-bg: #ffffff;--button-primary-disabled-bg: #a8a8a8;--button-primary-border: ;--button-primary-hover-border: ;--button-primary-border-disabled: ;--button-secondary-color: #000000;--button-secondary-hover-color: #ffffff;--button-secondary-disabled-color: #a8a8a8;--button-secondary-bg: ;--button-secondary-hover-bg: #000000;--button-secondary-disabled-bg: ;--button-secondary-border: #000000;--button-secondary-border-hover: #000000;--button-secondary-border-disabled: #a8a8a8;--button-tertiary-color: #000000;--button-tertiary-hover-color: #000000;--button-tertiary-disabled-color: #a8a8a8;--button-tertiary-bg: ;--button-tertiary-hover-bg: ;--button-tertiary-disabled-bg: ;--button-tertiary-border: #000000;--button-tertiary-border-hover: #000000;--button-tertiary-border-disabled: #a8a8a8;}
  
    .color-scheme-0ef2e33a-7fbf-414f-916f-3fe1255d4f5b {--color-background: #ffffff;
    --color-background-secondary: #ffffff;
    --color-foreground: #2d2929;
    --color-foreground-secondary: #666666;
    --color-accent-01: #e0beb1;
    --color-accent-02: #ebdad3;
    --color-accent-03: #f2eae8;
    --color-accent-04: #684537;
    --color-border-01: #d8d8d8;
    --color-border-02: #efefef;
    --color-disabled: #a8a8a8;
    --color-link: #000000;--button-primary-color: #ffffff;--button-primary-hover-color: #000000;--button-primary-disabled-color: #ffffff;--button-primary-bg: #000000;--button-primary-hover-bg: #ffffff;--button-primary-disabled-bg: #a8a8a8;--button-primary-border: ;--button-primary-hover-border: ;--button-primary-border-disabled: ;--button-secondary-color: #000000;--button-secondary-hover-color: #ffffff;--button-secondary-disabled-color: #a8a8a8;--button-secondary-bg: ;--button-secondary-hover-bg: #000000;--button-secondary-disabled-bg: ;--button-secondary-border: #000000;--button-secondary-border-hover: #000000;--button-secondary-border-disabled: #a8a8a8;--button-tertiary-color: #000000;--button-tertiary-hover-color: #000000;--button-tertiary-disabled-color: #a8a8a8;--button-tertiary-bg: ;--button-tertiary-hover-bg: ;--button-tertiary-disabled-bg: ;--button-tertiary-border: #000000;--button-tertiary-border-hover: #000000;--button-tertiary-border-disabled: #a8a8a8;}
  
